.image-container{
    box-shadow: 0px 0px 15px -5px;
    float: left;
    height: 100px;
  }
  .author-card-container {
    box-sizing: border-box;
    color: white;
    margin: 3%; 
    float: left;
    border-radius: 15px;
    width: 533px;
    height: 500px;
    text-align: center;
    padding: 1rem;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.5s
  }

.author-card-container:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px -5px;
  }

.usernameStyle {
    float: left;
    margin-left: 1%;
    margin-top: 0%;
  }

.btnStyle {
    float: left;
    margin-left: 1%
  }

.fandomLableStyle {
    display: flex; 
    text-align: start;
    margin-top: 25%; 
    padding: 0px
  }
  
.fandomListStyle {
    display: flex;
    margin-left: 30%;
    list-style-type: none
  }
  
.titleLabelStyle {
    text-align: start;
  }
  
.titleListStyle {
    display: flex;
    margin-left: 30%;
    list-style-type: none;
  }