

.card-container {
    box-sizing: border-box;
    color: white;
    margin: 3%;
    float: left;
    border-radius: 15px;
    align-items: center;
    justify-content:center;
    width: 533px;
    height: 300px;
    text-align: center;
    padding: 1rem;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.5s
  }